@import "../../../styles/resources.scss";

.Footer {
  text-align: center;
  color: $colour-white;
  margin-top: 50px;
  flex-shrink: 0;
  div {
    padding-top: 20px;
  }
}

.Box {
  padding: 25px;
  background-color: $colour-white;
  p {
    color: $colour-grey;
  }
}

.Icon {
  font-size: 3.5em;
  padding: 25px;
  transition: 0.3s;
  color: $colour-grey;
}

.Icon:hover {
  color: $colour-light-grey;
}

@media (max-width: 1000px) {
  .Title {
    font-size: 5em;
  }

  .Box {
    padding: 0%;
    width: 100%;
  }
}
