@import "../../../styles/resources.scss";

.Footer {
  bottom: 0;
  text-align: center;
  color: $colour-white;
}

.Box {
  padding: 25px;
  height: 100%;
  background-color: $colour-blue;
}

.Icon {
  font-size: 3.5em;
  padding: 25px;
  transition: 0.3s;
  color: $colour-white;
}

.Icon:hover {
  color: $colour-light-grey;
}

@media (max-width: 1000px) {
  .Title {
    font-size: 5em;
  }

  .Box {
    padding: 0%;
    width: 100%;
  }
}

