@import '../../../styles/resources.scss';

.Title {
    text-align: center;
    font-family: monospace;
    font-size: 10em;
    color: $colour-white;
    background-color: $colour-blue;

}

// Box and Box Colours
.Box {
    padding: 50px;
    height:250px;
    margin: 40px;
}