.Title {
    margin: auto;
    text-align: center;
    font-family: monospace;
    font-size: 10em;
}

// Box and Box Colours
.BoxSkewed {
    padding: 50px;
    height:250px;
    margin: 40px;
    // Slanted Borders
    // https://stackoverflow.com/questions/19147241/skewed-borders-on-a-div
    transform: skew(-10deg) rotate(0deg);
    -webkit-transform: skew(-10deg) rotate(0deg);
    -moz-transform: skew(-10deg) rotate(0deg);
}

.BoxRed {
    background-color: #E94F37;
}

// Text Colours
.White {
    color: #EDEDED;
}
.Red {
    color: #E94F37;
}



