@import "../../../styles/resources.scss";

.Title {
  padding-left: 25px;
  text-align: left;
  font-family: "Roboto Mono", monospace;
  font-size: 5em;
  color: $colour-white;
  background-color: $colour-blue;
  margin: 0;
}

.Box {
  height: 100%;
}

@media (max-width: 1000px) {
  .Title {
    font-size: 3em;
  }

  .Box {
    width: 100%;
  }
}
