.WorkshopItem {
  background-color: transparent;
  width: 35rem;
  height: 25rem;
  perspective: 100rem;
}
@import "../../../styles/resources.scss";

.WorkshopItem .Inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.WorkshopItem:hover .Inner {
  transform: rotateY(180deg);
}

.WorkshopItem .Front,
.WorkshopItem .Backing {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.WorkshopItem .Front {
}

.WorkshopItem .Backing {
  transform: rotateY(180deg);
}

.WorkshopItem .BackingCard {
  height: 100%;
}

/** In future, implement @media (prefers-color-scheme: dark) { } **/
