@import "../../../styles/resources.scss";

.Toolbar {
  height: 56px;
  width: 100%;
  background-color: $colour-light-grey;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  box-sizing: border-box;
  z-index: 90;
}

.Toolbar nav {
  height: 100%;
}

@media (max-width: 1024px) {
  .DesktopOnly {
    display: none;
  }
}
