@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Courier New', Courier, monospace;
}

@media (prefers-color-scheme: dark) {
  :root {
    --light: #fefcfb;
  --blue1: #1282a2;
  --blue2: #034078;
  --blue3: #001f54;
  --blue4: #0a1128;
  }
}

body {
  color: rgb(var(--blue1));
  background: rgb(var(--blue4));
}
