@import "../../../styles/resources.scss";

.TextSubheader {
  color: $colour-grey;
  margin: auto;
  padding: 20px;
  text-align: center;
  font-size: 1em;
  max-width: 60%;
  &.FullWidth {
    max-width: 100%;
  }
}
