// https://coolors.co/ededed-ff9f1c-00cecb-e94f37-43433e
$colour-white: #EDEDED;
$colour-grey: #43433E;
$colour-light-grey: #D8DAD3;
$colour-red: #E94F37;
$colour-blue: #008482;
$colour-yellow: #FF9F1C;
