// https://coolors.co/ededed-ff9f1c-00cecb-e94f37-43433e
$colour-white-bright: #ffffff;
$colour-white: #ededed;
$colour-grey: #43433e;
$colour-light-grey: #d8dad3;
$colour-red: #e94f37;
$colour-blue: #008482;
$colour-yellow: #ff9f1c;

$colour-purple: purple;
$colour-orange: orange;
$colour-yellow: yellow;
