@import "../../../styles/resources.scss";

.SideDrawer {
  position: fixed;
  padding-top: 50%;
  z-index: 50;
  height: 100%;
  top: 0;
  width: 300px;
  background-color: $colour-light-grey;
  transition: transform 0.3s ease-out;
}

/* @media (min-width: 1440px) {
  .SideDrawer {
    display: none;
  }
} */

.Open {
  transform: translateX(0);
}

.Close {
  transform: translateX(-100%);
}
