@import '../../../../../styles/resources.scss';

.NavigationItem {
    font-size: 1.5em;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding: 0px;
}

.NavigationItem a {
    color: $colour-blue;
    text-decoration: none;
    display: block;
    transition: 0.3s;
    height: 100%;
}

.NavigationItem a:hover,
.NavigationItem a:active,
.NavigationItem a.active {
    background-color: $colour-blue;
    color: $colour-white;
}