@import "styles/resources.scss";

body {
  text-align: center;
  background-color: $colour-white;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: Roboto;
}

.Flex {
  height: 100%;
  flex: 1 0 auto;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: $colour-grey;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: $colour-white;
}

.App-link {
  color: $colour-blue;
}
